*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html,
body {
    height: 100%;
    width: 100%;
}

ul,
ol {
    list-style: none;
    padding-left: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

button {
    background: none;
    border: none;
    font: inherit;
    color: inherit;
    cursor: pointer;
}

img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}

input,
textarea,
select {
    font: inherit;
    color: inherit;
}

body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
}

a:focus-visible,
button:focus-visible {
    outline: 2px solid var(--cor-titulo);
    outline-offset: 3px;
}